.MuiBox-root.css-19kzrtu {
    width: 900px;
}

.svg.rd3t-svg.rd3t-svg-177162e5-7b7a-41df-b1ac-3e7f0b3f1820 {
    width: 800px;
}

.his-svg {
    margin-top: 30px;
    margin-left: 60px;
}

.his-btn {
    align-items: center;
}